footer {
  background: url('images/brown.png') repeat;
  padding: 0;
  
  .footer-wrapper{
    background: url('images/illustration-01.png') no-repeat;
    background-position: center bottom 25px;
    background-size: contain;
    padding: 20px 15px 10px;
  }
}
