.call-to-action{

  padding:40px 0;

  .container-fluid {

  @media (min-width: $screen-md-min) {

    @include flexbox();

    > div {
        width:50%;
        padding:10px 15px;
      }
    }
  }

  .call-to-action-img{
    text-align: center;

    img {
      width:90%;
      height: auto;
    }
  }

  .call-to-action-content {

      font-size: 23px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.52;
      color: #794400;

    h3 {
      font-family: AmericanTypewriter serif; 
      font-size: 38px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.13;
      color: #794400;
    }
  }
}
