.featured-posts .featured-post {

  margin:0px auto 80px;

  @media (min-width: $screen-md-min) {
     margin:40px 40px 40px 0;
   }

  .featured-title {
    font-family: AmericanTypewriter;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    color: #794400;
    text-transform: capitalize;
  }

  .featured-description{
    color: #b06010;
    font-weight: 400;
  }

  .featured-button a {
    color:#fff;
    border-radius: 5px;
    line-height: 25px;
    background-image: linear-gradient(to bottom, #ff7717, #ec5d15);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  }
  .featured-thumbnail{
    margin:0px;
    overflow: hidden;
    border-top-right-radius:7px;
    border-top-left-radius: 7px;
    height: 200px;
    background-repeat: no-repeat;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: top center;
  }
}
