
.featured-content {

  margin-bottom: -75px;

  .featured-item{

    background: #fff;
    margin:0 20px 0 0;
    border: 15px solid #eaba40;

    box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.25);

    &:nth-child(2n){
      //flex:2;
    }

    &:nth-child(3n){
      flex:1;
    }
  }

  .featured-section {
    border:none;
  }

  .featured-button {

    a {
      color:#fff;
      background-color: #e24018;
    }
  }

  .featured-body{
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    color: #b06010;
  }

  h3 {
    font-size: 33px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #794400;
    text-shadow:none;
  }
}
