.hero.hero-2 {
  min-height: 0px;
  padding-top:40px;
  padding-bottom: 30px;
  background-color: #8b572a;
  overflow: hidden;
  display: block;

  @media (min-width: $screen-md-min) {
    min-height: 450px;
  }

  .hero-img-wrapper {

    width:100%;
    margin-top:30px;
    text-align: center;
    float:right;
    background: url('images/crowd.png') center center no-repeat;
    background-size: contain;

    @media (min-width: $screen-md-min) {
      width:60%;
    }

    img {

      max-height: 200px;
      width:auto;

      @media (min-width: $screen-sm-min) {
        max-height: 250px;
      }

      @media (min-width: $screen-md-min) {
        max-height: 300px;
      }
    }
  }

  .hero-text{
    background: transparent;
    margin: 15px 15px;
    clear: both;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.59;
    color: #ffffff;

    h3 {
      font-family: AmericanTypewriter;
      font-size: 38px;
      margin:5px 0 25px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.05;
      color: #ffffff;
    }

    @media (min-width: $screen-md-min) {
        width:40%;
        float:left;
        margin:0;
        clear: none;
    }

    .hero-button {
      a {
        @media (max-width: $screen-sm-max) {
          padding-left:45px;
          padding-right:45px;
        }
      }
    }
  }
}

.hero.hero-1 {
  margin-top:-15px; //move hero image up to header
  background-color: #ebbb30;

  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;

  background-position: right top 30px;
  background-repeat: no-repeat;

  @media (min-width: $screen-md-min) {
    min-height: 465px;
    background-size: auto 90%;
  }

  @media (min-width: $screen-lg-min) {
    background-position: center top 50px;
  }


  @media (max-width: $screen-sm-max) {
    background-position: center top 150px;
    min-height: 500px;
    padding-bottom:75px;
    padding-top:10px;

    .hero-text-wrapper{
      padding-top:0;
    }
  }

  .hero-text{
    font-family: AmericanTypewriter;
    font-size: 45px;
    color: #794400;
    font-weight: bold;
    font-size: 40px;
    width:90%;
    background-color:transparent;
    padding-bottom:0;
    padding-top:0;

    @media (min-width: $screen-md-min) {
      width:60%;
    }

    @media (min-width: $screen-lg-min) {
      width:40%;
    }

    .extra-img{

        margin:120px auto 0;
        width:100%;
        text-align: center;

        @media (min-width: $screen-sm-min) {
          margin-top:150px;
        }

        img {
            width: 100%;
            max-width: 200px;
            height: auto;
        }

        @media (min-width: $screen-md-min) {
          position: absolute;
          left:50%;
          width: auto;
          bottom:0;
          margin-left:-125px;
          margin-top:0;

          img{
            width:auto;
            max-width:250px;
          }
        }
    }

    .hero-button {
      @media (max-width: $screen-sm-max) {
        position: absolute;
        bottom: 50px;
        margin: 0 auto;
        width:100%;
        left:0;
        text-align: center;
      }

      a {
        font-family: "Gotham SSm A", "Gotham SSm B";

        @media (max-width: $screen-sm-max) {
          width:320px;
          max-width: 100%;
        }
      }
    }
  }
}

.hero .hero-text-wrapper{
  position: static; // Allow us to move the rolls around
}
