.product-list{
  padding:0 0 50px;  
}

.product-card{

  .product-img{
    margin:0;
    text-align: center;

    img {
      width:auto;
      height: auto;
      max-width: 75%;
      max-height: 350px;
    }
  }

  .product-section{

    h3 {
      font-family: AmericanTypewriter;
      font-size: 30px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      color: #794400;
    }
  }

  .product-buttons{
    padding:0 30px 30px;
    text-align: center;

      a {
        border-radius: 5px;
        width: auto;
        display: inline-block;
        padding:10px 15px;
        background-image: linear-gradient(to bottom, #ff7717, #ec5d15);
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
      }
  }
}
