.product-list{
  padding:0 0 50px;
}

.product-card{

  .product-img{
    margin:0px;
    overflow: hidden;
    border-top-right-radius:7px;
    border-top-left-radius: 7px;
    height: 250px;
    background-repeat: no-repeat;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: top center;
  }

  .product-section{

    h3 {
      font-family: AmericanTypewriter;
      font-size: 30px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      color: #794400;
    }
  }

  .product-buttons{
    padding:0;
    text-align: left;
    
    .button{display: inline-block;}
  }
}
