.button{
  color:#fff;
  font-size: 18px;
  background-image: linear-gradient(to bottom, #ff7717, #ec5d15);
  line-height: 25px;
  @include box-shadow(0 0 4px 0 rgba(0, 0, 0, 0.1));
  @include border-radius(5px);
}
