$max-site-width: 1200px;

// Defining values
$screen-sm-min: 481px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 900px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1080px;
$screen-md-max: ($screen-lg-min - 1);
