blockquote {
  font-family: americantypewriter, "courier", serif;
  font-size: 38px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.05;
  text-align: center;
  color: #794400;
  margin: 30px 0;
}
