
.whr-products-hero{
  margin-top:-15px; //move hero image up to header
  margin-bottom: 50px;
  background-color: #ebbb30;
  padding:30px 0;

  .container-fluid{
    @media (min-width: $screen-md-min) {
      @include flexbox();
      @include align-items(center);
    }
  }

  .hero-img, .hero-text {
    @media (min-width: $screen-md-min) {
      @include flex();
    }
  }

  .hero-text{

    h2{
      font-family: AmericanTypewriter;
      font-size: 45px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.11;
      color: #794400;
    }
    h3{
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      color: #794400;
    }
  }

  .hero-img{

    img{
      width:100%;
      height: auto;
    }
  }
}
