@include keyframes(fadeRight) {
  0%   {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.animate {
  opacity: 0;
  transform: translate(-100%);
}

.animated {
  @include animation('fadeRight');
  @include animationDuration(1s);
  @include transition-timing-function(ease-in)
}


@include keyframes(rocker) {
  0%   {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

.rocker{
  @include animation('rocker');
  @include animationCount(infinite);
  @include animationDuration(1s);
  @include transition-timing-function(ease-in-out)
}
